    
body{
  font-family: 'Lato', sans-serif;
 
  background-color: #efebe9 ;
}

#nav{
 font-size: 20px; 
  
}
#nav a{
 text-decoration: none; 
  color: white;

  
}
#nav li {
    display: inline;
  padding: 50px;
}

b{
color: #D48600;
}
h2,h4{
color: #3A66AC;
}

#nav a{
 text-decoration: none; 


  
}
#nav li, #footer li {
    display: inline;
  padding: 50px;
}
ul{
  list-style-type: none; 
  padding: 0;
}
#footer li{
 display: inline;
padding: 50px;
}
#footer a{
 text-decoration:none ; 
  color: white;
  
}